{{#each this.hits}}
    <li class="gallery-item">
        <img src="{{webformatURL}}" alt="{{tags}}" class="gallery-picture">
        {{!-- <button data-img-id="{{id}}" class="picture-info-button">Load More Info</button> --}}
    </li>
{{/each}}